.category-carousel {
  padding: 40px 0;
}

.category-title {
  color: #3d3d3d;
  font-family: "Kaisei Tokumin";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;
}

.carousel-item-padding {
  padding: 0 10px; /* Horizontal padding to add space between items */
}

.course-card {
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  border-radius: 8px;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f5a623;
  color: #fff;
  font-size: 0.9rem;
  padding: 2px 8px;
  border-radius: 5px;
}

.course-title {
  margin-top: 10px;
  color: #3d3d3d;
  font-family: "Kaisei Tokumin";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.course-price {
  color: #f5a623;
  font-weight: 600;
  font-size: 1.2rem;
}
