/* src/components/Hero/Hero.css */

.hero-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.hero-left h1 {
  color: #3d3d3d;
  font-family: "Kaisei Tokumin";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-left p {
  color: #3d3d3d;
  font-family: "Kaisei Tokumin";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}

.hero-search {
  display: flex;
  gap: 10px;
  width: 472px;
  height: 67px;
  flex-shrink: 0;
  margin-top: 20px;
}

.search-input {
  flex: 1;
}

.search-button {
  padding: 10px 20px;
  font-weight: 500;
  width: 160px;
  height: 67px;
}

.hero-carousel .carousel-item img {
  border-radius: 8px;
}
.imgcar {
  height: 300px;
  width: 100px;
}
.carousel-item img {
  height: 500px;
}
